$decorative-color: #AE1332;
$text-color: #FFFFFF;
$btn-color: #9DC262;
$card-color1: #F8766B;
$card-color2: #EDD251;
$card-color3: #9DC262;
$card-color4: #BFD663;
$card-color5: #E93F29;
$card-color6: #DB4F4B;
$card-color7: #9B5366;
$card-color8: #F47F4C;
$card-color9: #98B37E;

